<h1 class="mt-4">Clients</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">{{ client.id ? 'Update' : 'Register' }}</li>
    </ol>

<div class="container">
    <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">

        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Client saved/updated successfully!
                </div>

                <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
                     {{ error }}
                </div>              
            </div>
        </div>

        <div class="row" *ngIf="client.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" [ngModel]="client.id" name="id" disabled="true"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Register Date:</label>
                    <input type="text" class="form-control" [ngModel]="client.registerDate" name="registerDate" disabled="true" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name: *</label>
                    <input type="text" class="form-control" [(ngModel)]="client.name" name="name"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control" [(ngModel)]="client.cpf" name="cpf"/>
                </div>
            </div>
        </div>
        
        <div class="row d-flex justify-content-between">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" *ngIf="!client.id">
                    <i class="fa fa-save"></i>
                    &nbsp;Save
                </button>

                <button type="submit" class="btn btn-primary" *ngIf="client.id">
                    <i class="fa fa-sync-alt"></i>
                    Update
                </button>
                &nbsp;
                <button class="btn btn-danger" *ngIf="client.id" (click)="cancelButton()">
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>