<h1 class="mt-4">Service Provided</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Service Provided Register</li>
    </ol>
<div class="container">
    <form #serviceForm="ngForm" (submit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Client:</label>                    
                    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="serviceProvided.clientId">
                        <option value="">Select...</option>
                        <option *ngFor="let client of clientList" [ngValue]="client.id">
                            {{ client.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Description:</label>
                    <input class="form-control" [(ngModel)]="serviceProvided.description" type="text" name="description" id="inputDescription">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Date:</label>
                    <input class="form-control" [(ngModel)]="serviceProvided.date" type="text" name="date" id="inputDate"></div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Price:</label>
                    <input class="form-control" [(ngModel)]="serviceProvided.price" type="text" name="price" id="inputPrice"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">                
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>